/* #0776A0	 - осн
#226078	
#024C68	
#3AA6D0	
#62B1D0 */

*{
	font-family: 'PT Sans Narrow', sans-serif;
	/* font-family: 'Pacifico', cursive; */
}


nav{
    display: flex;
    background-color: #226078	;
    align-items: center;
    
}

nav>a>li{
    list-style-type: none;
    margin: 10px;
    color: black;
}

nav>a{
    text-decoration: none;
    
}

.logo{
    width: 50px;
    height: 50px;
}

main{
    display: flex;
    flex-direction: column;
    background-color: #0776A0;
    align-items: center;
}

.logo_soc{
    width: 100px;
    height: 100px;
	opacity: 0.5;
	/* color: gray; */
}

.logo_soc:hover{
	opacity: 1;
}

.for_me{
    display: flex;

}

.for_me>div>img{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
	/* opacity: 0; */
}


/* преимущества */

.preim{
	width: 80%;
}

.works_for_me{
	display: flex;
	justify-content: space-around;
}

.about>img{
	width: 100px;
	height: 100px;
}

/* блок стоимости */

.price_list{
	display: flex;
	flex-direction: row;
}

.block_price{
	width: 200px;
	height: 500px;
	/*color:#62B1D0;
	*/background-color: #62B1D0;
	margin: 10px;
	border-radius: 5%;
	-webkit-border-radius: 5%;
	-moz-border-radius: 5%;
	-ms-border-radius: 5%;
	-o-border-radius: 5%;
}

.block_price button{
	margin: 0 auto;
	border: 0;
	color: red;
	display: flex;
    align-items: center;
    justify-content: center;
}

.block_price>p{
	text-align: center;
}

.price{
	color:red;
	border: 1x;
	background-color: black;
}

h2{
	text-align: center;
}

/* обратная форма */


.form_return{
    display: flex;
	flex-direction: column;
}

.obratnuj-zvonok{
	width: 100%;
	max-width: 350px;
}
.form-zvonok{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	box-sizing: border-box;
}
.form-zvonok div{
	padding: 15px 0;
}
.bot-send-mail{
	box-sizing: border-box;
	width: 100%;
}
.form-zvonok label,.form-zvonok input,textarea{
	display: block;
	width: 100%;
	box-sizing: border-box;
}
.form-zvonok label{
	margin-bottom: 5px;
	font-weight: bold;
}
.form-zvonok input,textarea{
	padding: 10px 15px;
	margin-top: 10px;
}
.form-zvonok label span{
	color: red;
}
.form-zvonok .bot-send-mail{
	padding: 15px;
	margin-top: 10px;
	background: none;
	border: none;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	background-color: #009b97;
	cursor: pointer;
	border: 3px #009b97 solid;
	border-radius: 5px;
}
.form-zvonok .bot-send-mail:hover{
	color: #009b97;
	background-color: #fff;
}


/* footer */

footer>p{
	text-align: center;
}