/* #ffffff	 - осн
#999999
#eeeeee
#A65353
 */

*{
	font-family: 'PT Mono', monospace;
	/* font-family: 'Pacifico', cursive; */
}

h2{
	font-size: 50px;
}



nav{
    display: flex;
    background-color: #eeeeee	;
    align-items: center;
	justify-content: space-around;
    
}

nav>a>li{
    list-style-type: none;
    margin: 10px;
    color: black;
}

nav>a{
    text-decoration: none;
    
}

.logo{
    width: 50px;
    height: 50px;
}

main{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    align-items: center;
}

.logo_soc{
    width: 100px;
    height: 100px;
	opacity: 0.5;
	/* color: gray; */
}

.logo_soc:hover{
	opacity: 1;
}

.for_me{
    display: flex;


}

.for_me>div>img{
	margin: auto;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;

	/* opacity: 0; */
}

/* первая страница */

.first_page{
	display: flex;
	/* padding: 25px; */
}

.titul_text{
	padding: 25px;
}

.first_page_text{
	font-size: 64px;

}

/* о компании */

.for_me p {
	font-size: 25px;
	margin: 10px;
	text-align: justify;
	padding: 5px;
}

/* связаться с нами */

.links_for_me{
	display: flex;
	justify-content: space-around;
}

/* преимущества */


h3{
	text-align: center;
}

.about{
	width: 400px;
	height: 260px;
	/* background-color: #eeeeee; */
	border: 8px double #999999;
	margin: 10px;
}

.about:hover{
	width: 400px;
	height: 260px;
	border: 8px double red;
	margin: 10px;
}

.about img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}


.about p{
	text-align: center;
}

.preim{
	width: 80%;
}

.works_for_me{
	display: flex;
	justify-content: space-around;
}

.anim_icons{
	width: 100px;
	height: 100px;
}

/* услуги */

.about1{
	width: 400px;
	height: 500px;
	border: 8px double #999999;
	margin: 10px;
}

.about1:hover{
	width: 400px;
	height: 500px;
	border: 8px double red;
	margin: 10px;
}

.about1 img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}



.about1 p{
	text-align: center;
}

.work{
	width: 80%;
}

/* блок стоимости */

.price_list{
	display: flex;
	width: 60%;
	flex-direction: row;
	justify-content: space-between;
}

.block_price{
	width: 200px;
	height: 230px;
	/*color:#62B1D0;
	*/background-color: #eeeeee;
	margin: 10px;
	border-radius: 5%;
	-webkit-border-radius: 5%;
	-moz-border-radius: 5%;
	-ms-border-radius: 5%;
	-o-border-radius: 5%;
}




.block_price>p{
	text-align: center;
}

.price{
	color:red;
	border: 1x;
	background-color: black;
}

h2{
	text-align: center;
}



/* footer */

footer>p{
	text-align: center;
}

footer{
	background-color: #999999;
	height: 25px;
}



/* адаптивность */

@media all and (max-width:1200px) {
	body{
		/* width: 50%; */
	}
	nav{
		flex-direction: column;
	}
	.first_page{
		flex-direction: column;
	}
	.works_for_me{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.price_list{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.connect{
		/* display: flex; */
		/* flex-direction: column; */
		/* justify-content: center; */
		/* align-items: center; */
	}
	h2{
		font-size: 16px;
	}
	.for_me p{
		font-size: 16px;
	}

	.first_page_text{
		font-size: 16px;
	}

}

